<footer>
    </footer>
    <br>
    <hr>
    <br>
  <p>EthnoEthiopia 2020. All rights reserved.</p>
  <ul>
    <li><a href="about.html">About Us</a></li>
    <li><a href="services.html">Our Services</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact Us</a></li>
    <li><a href="sitemap.html">Site Map</a></li>
  </ul>
</footer>
