<footer>
    </footer>
    <br>
    <hr>
    <br>
  <p>EthnoEthiopia 2024. All rights reserved.</p>
  <ul>
    <li>About Us</li>
    <li>Our Services</li>
   
    <li>Contact Us</li>
    <li>Site Map</li>
  </ul>
</footer>
