h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
}
.heading {
  color: green;
  padding: 20px;
  font-size: 70px;
}
.tigray {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
  border-radius: ;
}
.amara {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.orom {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.gurag {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.afa {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.somali {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.sidam {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.wola {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.gam {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
.snn {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 2px solid red;
  color: goldenrod;
  background-color: rgb(9, 71, 9);
}
