<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
   
  <body>
    <div class="topography">
      <p>
        <h3>Topography</h3>
        The region's main tourist destinations include the Afar Depression, the active volcano Erta Ale, the Hadar and Aramis regions, Awash National Park, and Yangudi Rassa National Park. Other areas of interest are the cultural games, the hot springs, and Afar culture. When the Dabbahu Volcano, which is located in the region's north, erupted in 2005, a massive fissure was created. The two African plates, the Nubian Plate and the Somali Plate, are moving apart, and this movement includes the formation of the crack. After the lava from the erupting volcano poured underground and cooled, a 60 kilometre (37 mi) long and 8 metre broad dike was formed in a matter of days. This new fracture is 500 metres long and 60 metres deep.</p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Regarding the Afar people's history, hardly much is known for certain. Because of their dislike of visitors, the Afar people are hardly known, according to J. S. Trimingham, the author of Islam in Ethiopia. Outsiders learned very little about them because they refused to allow them in.

Before the year 1000 AD, the Afar people appear to have settled in the Ethiopian highlands and lived mostly as cattle farmers. Not long after, they relocated to the location they presently live in and started a gradual shift to a more nomadic existence. They have fought several battles with neighbouring tribes and peoples ever since.</p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        The Islamic faith had a significant effect on the Afar people early in their history, and Islam is still highly respected today. They rarely consume alcohol and avoid eating pork. Make the journey to Mecca if you have the means to do so. Additionally, the Afar still adhere to a large number of pre-Islamic rituals and traditions. They consider some groves and trees to possess holy qualities. In addition, they practise a number of religious practices, like as anointing their bodies with butter, or ghee. Because it is thought that ghosts are extremely strong, a yearly "feast of the dead" called Rabena is observed. In order to guarantee the security of their settlements, they also make yearly gifts to the sea.
      </p>
    </div>
  </body>
 
      <a href="/"> <button>Back</button></a>
</html>
 <%- include("./partials/footer.ejs")%>
