<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="amhara.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="topography">
      <p>
        <h3>Topography</h3>
        The Amhara area is situated in the northwest of Ethiopia around 9°–14° N and 36°–40° E. Three main agricultural climatic zones make up the region: lowland (below 1,500 metres above sea level), semi-highland (1,500 to 2,300 metres above sea level), highland (above 2,300 metres above sea level), which account for 20%, 44%, and 28% of the total. Diversified agriculture thrives in this diverse ecosystem. The terrain of the area is made up of plains, gorges, plateaus and hills. The highest point in the area is 4,620 metres, which is located at the summit of Ras Dashen. The lowest point is 500 metres. Africa's fourth-highest peak, Ras Dashen peak, is located in the North Gondar administrative zone. 

      </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Their ancestors are said to have originated with Menelik I, the son of King Solomon and the Queen of Sheba.  The majority of academics concur that their customs and myths are very fantastical, yet they also appear to have a solid foundation of historical facts, much like origin stories.  Reconstructing the people's past undoubtedly requires taking into account their own oral traditions.  Sources covering their customs may be found.  

These oral stories appear to indicate a historical connection to the Sabaean people, also known as Shebans or Sabaeans, who are mentioned in a number of old texts.  From their homeland in southern Arabia, the Sabaean (Sheban) people are supposed to have started to colonise the west coast of the Red Sea around 1000 BC.  
      </p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        Coptic Monophysite Christians make up the Amhara people. Since the fourth century AD, the populace has been converted to Christianity, and not much has changed in terms of the religion's original form in Ethiopia. Due to the writing method of the ancient Amhara civilization, a multitude of manuscripts containing the old Christian teachings in a language that is still used by the church today have been preserved. It's called Geez. Latin in the Roman Catholic Church serves a comparable purpose to Geez, as the language is only utilised within the framework of Amhara Christianity.

      </p>
    </div>
  </body>
  <a href="/">Home</a>
</html>
