<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%> <%- include("./partials/nav.ejs")%>
  <!-- <body>
    <h1>content contribution page</h1>
    <div class="user">
    <form action="form" method="x">
  
      <label for="name">Name:</label>
      <input type="text" id="name" name="user_name" /><br/>
      <br/>
      <label for="mail">Email:</label>
      <input type="email" id="mail" name="user_email" /><br />
      <br/>
   
      <label for="nationality">Ethnicity:</label>
       <select id="ethnicity" name="user_ethnicity" required>   <br/>
       <br/>
      
            <option value="usa">Amhara</option>
            <option value="canada">Oromo</option>
            <option value="uk">Tigray</option>
            <option value="usa">Afar</option>
            <option value="usa">somalia</option>
            <option value="usa">wolayta</option>
            <option value="usa">snnpr</option>
            <option value="usa">gambella</option>
            <option value="usa">gurage</option><br/>
             </select><br/>
       
      <br/>

      <label for="msg">Message:</label>
      <textarea id="msg" name="user_message"></textarea><br />
      <br />
        <a href="receive.html"><button>submit</button></a>
       
        </div>
    

  </body> -->
  <br />
  <a href="/"> <button>Back</button></a>
  <script src="script.js"></script>
</html>
<%- include("./partials/footer.ejs")%>
