<!DOCTYPE html>
<html lang="en">
  <h1 class="heading">EthnoEthiopia</h1>
  <%- include("./partials/head.ejs")%> <%- include("./partials/nav.ejs")%>
<div class ="all"> 
   <body>
    <div class ="page"> 
    <h1 class = "content">Content Contribution page</h1>
    <br>
    <br>
    <div class="user">
   
  
      <div class="create-blog content">
     <form action="/blogs" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Subject:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body"> Body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>
        
       
        </div>
        </div>
      <a href="/"> <div class="button">Back</div></a>

  </body> 
  <%- include("./partials/footer.ejs")%>
  </div>
  <br />

  <!-- <script src="script.js"></script> -->
</html>

