<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class="topography">
      <p>
        <h3>Topography</h3>
        Situated in southwest Ethiopia, the Gambela Region has borders with the Southern Nations, Nationalities, and Peoples Region (SNNPR) in the southeast, Oromia Region in the northeast, and South Sudan in the west. Gambela is the nation's capital. The Central Statistical Agency (2013) projected that the population of the Gambela Region was roughly 400,000 in 2017. The Region is divided into four administrative zones: the Agnewak Zone, the Nuwer Zone, the Mezhenger Zone, and the Etang Special Zone. There are thirteen Woredas in these four Zones. Five ethnic groups are regarded as indigenous in the region.</p>
      </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Gambela was established due to its location on the Baro, a tributary of the Nile. Ethiopia and the British considered this to be a great route for shipping products, including coffee, from the lush Ethiopian Highlands to Sudan and Egypt. On May 15, 1902, Emperor Menelik II gave Britain permission to utilise a port along the Baro. A customs post and port were established at Gambela in 1907. A 1,366-kilometer shipping line operated by Sudan Railways connected Khartoum with Gambela. By the mid-1930s, boats were sailing twice a month during the rainy season, taking eleven days upstream and seven days downstream, according to Richard Pankhurst.</p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        Protestants make up 70% of the population in the area, followed by Orthodox Christians (16.8%), Traditionalists (3.8%), Muslims (4.9%), Catholics (3.4%), and others (1.1%).[1] The native Anuak people have historically resided in Gambela.</p>
    </div>
  </body>
<a href="/"> <button>Back</button></a>
</html>
 <%- include("./partials/footer.ejs")%>
