<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class="topography">
      <p>
        <h3>Topography</h3>
       Gurage is a zone of Ethiopia's Central Ethiopia Regional State. The Gurage people live in the area. Gurage is bounded to the southeast by Hadiya and Yem Zone, to the northwest by Kebena Special Woreda, to the north and east by Oromia Region, and to the southeast by Silt'e. Mount Gurage is its highest peak. Welkite is the Region's administrative seat; Butajira is the zone's largest city and the former administrative centre. Most of this terrain is badly eroded, necessitating farmers' use of stone and soil bunds to preserve their enset fields. During the 1930s, natural woods occupied roughly 20% of Gurage's territory, which has since been nearly entirely cleared.</p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Historically, the Gurage may have been the result of a complicated mix of Abyssinian and Harula tribes migrating and settling in the area for various causes and at various times. Another source said that the Gurage came from the Eritrean town of Gulla. Linguistically, this was believed by referencing Semitic migrations southwards in the Late Classical and Mediaeval eras. More historical study, however, is required. It is feasible that describing a single military mission might be sufficient to effectively inculcate soldiers' language throughout the area. However, the degree of Aksumian political and economic power over the Ethiopian Plateau's interior, as well as the effect of succeeding dynasties dominating the Christian north, has been investigated.</p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
       The majority of Gurage District citizens are Muslim, with 51.02% of the population expressing that faith, while 41.91% are Ethiopian Orthodox, 5.79% Protestant, and 1.12% Catholic. According to the 1994 Ethiopian census, the self-proclaimed Gurage constitute around 2.7% of the Ethiopian population, or approximately 1.4 million individuals. The Gurage population is unknown since almost half of the population resides outside the Gurage area.</p>
    </div>
  </body>
<a href="/"> <button>Back</button></a>
</html>
 <%- include("./partials/footer.ejs")%>