<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class="topography">
      <p>
        <h3>Topography</h3>
        Its terrain is made up of rolling plains, steep and untamed mountain ranges, an undulating plateau, and spectacular gorges with deeply carved river valleys. Climbing from below 500 metres above sea level to elevated hills that reach the highest peak of the area, Mt. Batu (4607 m). A portion of the high and vast Afro-Arabian plateau that remains after continuous uplift, rifting, and subsequent volcanic eruptions is known as Oromia. Over 1500 metres of high relief predominate. Three main categories may be used to classify the region's prevalent climatic types: temperate wet climate, tropical rainy climate, and dry climate. 
      </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Throughout entire anthropological history, the Oromo people of Ethiopia have lived on the Horn of Africa. A fully fossilised human skeleton dating back 3.5 million years was discovered in Oromia by archaeologists in 1974. This fossilised skeleton, which the scientists dubbed "Chaltu" (Oromeo) or "Lucy," is one of the earliest known forebears of modern humans. Oromia is home to a large number of the earliest fossils that have been found. Trade was conducted regionally by ancient Oromia with Greece, Persia, Rome, and Pharaonic Egypt. One of the prominent, autonomous ethnic communities living in the Horn of Africa, the Oromia people of Ethiopia maintained a strong military and a government between the 12th and the mid-19th century. </p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        The Oromo annals demonstrate that the Oromo religion, known as Waaqeffanna, was an indigenous faith rather than either Islam or Christianity. The Allah of Muslims and the God of Christians that the Oromo people worship are comparable. The Oromo never replace their Waaqa with curved sculptures or other gods. Thus, the Oromo and other peoples share a similar belief in a single supernatural force, which may be a useful tool for democratisation in fostering peace, understanding, and improved intergroup integration.
      </p>
    </div>
  </body>
<a href="/"> <button>Back</button></a>
</html>
 <%- include("./partials/footer.ejs")%>