<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class="topography">
      <p>
        <h3>Topography</h3>
        Lake Abaya lies to the northeast of Sidama Region, while Lake Hawassa is to the southeast. Sidama's borders are as follows: to the west is the Bilate River, dividing it from the Wolayita zone; to the north and east is the Oromia Region; and to the south is the Oromia Region (with the exception of a brief section in the centre where it shares a boundary with Gedeo zone). The Sidama are dispersed in a cone-shaped region in the centre of southern Ethiopia, between the Tikur Wuha River in the north and Dilla town in the south. Sidama is a rich region that ranges from highland (warm to chilly) to flat terrain (warm to hot). Sidama's geographic coordinates are 5'45" and 6'45" north latitude and 38' and 39' east longitude. </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Sidamo, any of the non-Oromo Cushitic-speaking peoples of southwest Ethiopia; they are primarily found around the Omo River and Rift Valley. About 1400 AD, the Sidamo established the Kefa kingdom. After that, they were subjugated by the Oromo and the "Abyssinians," or Amhara and Tigray, whose incursions forced them into their current borders. The traditional religion of the majority of Sidamo is still centred on worshipping the sky deity. They have a monarchical system of government in which the sky deity is represented by a divine king. With entire settlements encircled by walls and garrisons, the area demonstrates the exceptional military-mindedness of previous generations. </p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        The Sidama were first converted by Kambata Christians in the early to mid-1900s, and then by SIM, Lutheran, and Danish missionaries. The Sidama killed the first Kambata missionaries, but the Kambata persisted, and eventually there was a tiny number of Sidama Christians. Sidama is now predominantly Christian, with a sizable Orthodox population. Traditionalists, non-Christian cults, and Muslims make up nearly a tenth of the population. Mekane Yesus (with Scandinavian Lutheran origins), Kale Hiwot (with SIM and Baptist roots), Hiwot Birhan (with Swedish and Finnish Pentacostal roots), Mulu Wengel (with Full Gospel roots), and Catholic are the main churches, according in size order.</p>
    </div>
  </body>
 <a href="/"> <button>Back</button></a>
</html>
 <%- include("./partials/footer.ejs")%>