<!DOCTYPE html>
<html lang="en">
 <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    
    <div class="history">
      <p>
        <h3>Early history and main ethnicities</h3>
        One of Ethiopia's major regions, SNNPR is home to 20,768,000 people as of May 2018, or about a fifth of the nation's total population, and occupies more than 10% of the nation's land area [1]. There were 16 million people in the country as of mid-2008. The majority of people in the region (8.9%) are rural, with less than one in ten of them residing in metropolitan areas in 2008. "The SNNPR region is divided into 13 administrative zones, 133 Woredas and 3512 Kebeles, and its capital is Awassa."

Over 80 ethnic groups call the SNNPR home, of which over 45 (or 56%) are native to the area. It is a highly ethnically varied region of Ethiopia. According to the 2007 census, Hadiya (8%), Gurage (7.13%), Gamo (6.9%), Kafa (5.36%), Welayta (10.48%), Sidama (19.59%), and Amharic (4.10%) are the mother tongue languages that are most often spoken. Since there aren't many people who speak the majority of the languages in the area, Amharic—which was once the only official language in Ethiopia—is used as the working language in the state. Other languages that are spoken there include Kambaata, Melo, Gofa, Gedeo, and Dime.</p>
    </div>
    <br/>

   
  </body>
 <a href="/"> <button>Back</button></a>
</html>
 <%- include("./partials/footer.ejs")%>