<!DOCTYPE html>
<html lang="en">
<h1 class="heading">EthnoEthiopia</h1>
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class = "all">
    <div class="topography">
      <p>
        <h3>Topography</h3>
        The Somalian Plateau stretches from western Somalia into southeast Ethiopia. It is the continuation of the Ethiopian plateau on the southern side of the Afar rift zone. With its inclined fault blocks, the escarpment resembles its western counterpart. But isolated volcanic centres are present in place of the peripheral basins that once lined the escarpment's bottom. </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        first recorded in the 9th century, and starting in the 16th century, they started constructing networks of nation-states among sultanates, or other nations. Masjid al-Qiblatayn was constructed ahead of the Qiblah facing Mecca, and Islam was initially brought to the region by the first Muslims of Mecca who were escaping persecution during the initially Hijrah in 622 AD. The Adal Sultanate, which had its centre at Zeila (modern-day Somalia) and was controlled by Somali Muslims with other symbolic Muslim communities such as hararis and afar, was one of the most powerful states in the 15th and 16th centuries. Three colonial realms occupied a large portion of Somalia: the British protectorate of Somaliland was created by the Anglo-Somali Treaties of Protection.</p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        Even though the Somali people are almost exclusively Shafiite Muslims, their Islamic customs have been infused with a variety of customs and beliefs. Most people attend the regular prayers in Islam, although Somali women have never worn the headscarf. The wadaad, a religious specialist, is often consulted by villagers and urban residents for favours, charms, and guidance on earthly affairs. There are an estimated 7,650,000 Somalis in Ethiopia, of whom 99.86% practise Islam, 0.14% are Christians, and just 0.03% are Evangelical Protestants.</p>
     <a href="/explore"> <div class = "button">Back</div></a>
        <%- include("./partials/footer.ejs")%>
      </div>
   </div>
  </body>

</html>
