<!DOCTYPE html>
<html lang="en">
<h1 class="heading">EthnoEthiopia</h1>
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class = "all">
    <div class="topography">
      <p>
        <h3>Topography</h3>
        Tigray is the northernmost region of Ethiopia, Africa's second most
        populated country. It is landlocked and surrounded by Eritrea, Sudan,
        and Ethiopia's Afar and Amhara provinces. Tigray is noted for its hilly
        terrains, which have frequently aided the locals in defending their
        region against invaders like as the Greeks, Turks, and Italians.

        topography of Tigray:

Mountains and Highlands: Tigray is characterized by a series of rugged mountains and highlands that run throughout the region. The most prominent mountain range is the Simien Mountains in the western part of Tigray, which is known for its dramatic peaks and deep gorges. Other notable mountain ranges include the Gheralta Mountains and the Adwa Mountains.

Plateaus: In addition to mountains, Tigray also features vast plateaus and elevated plains. These plateaus are often interspersed with valleys and are important agricultural areas in the region. The Ethiopian Highlands, of which Tigray is a part, is one of the largest continuous areas of elevated terrain in Africa.

Valleys and Rifts: Tigray is crisscrossed by numerous valleys and rifts, which have been shaped by geological processes over millions of years. These valleys are often fertile and support agriculture, particularly in areas where water is available from rivers and streams.

Escarpments: Tigray is bordered by steep escarpments, particularly to the north and west where the region descends into the lowlands of Eritrea and Sudan. These escarpments provide stunning vistas and are important geographical features in the region.

Rivers and Streams: Several rivers and streams flow through Tigray, providing water for agriculture and human settlement. The most significant river is the Tekeze River, which forms part of the border between Tigray and Eritrea before flowing into Sudan. Other important rivers include the Mereb River and the Atbarah River.

Climate Variability: The topography of Tigray influences its climate, which can vary significantly from one area to another. Generally, the highlands experience a temperate climate with relatively cool temperatures, while the lowlands tend to be warmer and drier.


      </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Although Tigray is attributed with originating Ethiopian civilization, it was not the cause of the current Ethiopian state's unification. Tigray's history dates back to approximately 980 BC, when it gave rise to the D'mt (Daʿəmat) Kingdom, which ruled over what is now Tigray and Eritrea from approximately 980 BC to approximately 400 BC. The capital of D'mt was Yeha, which is home to the Great Temple of Yeha, Palace Grat Be’al Gebri, and Necropolis of Daro Mikael, which has rock-cut tombs.The history of Tigray dates back to approximately 980 BC, when the D'mt (Daʿəmat) Kingdom existed. This kingdom, which was centred in modern-day Tigray and Eritrea, ruled over its people from approximately 980 BC to approximately 400 BC. Yeha, the capital of D'mt, is home to the Great Temple of Yeha, which has rock-cut tombs.
      </p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        The majority of Ethiopians are Orthodox Christians. 95.6% of people practise it. The Axumite Empire was centred around Orthodox Christianity. Some scriptural accounts identify an Axumite ruler as one of the Three Wise Kings.
The cross design was originally used on state coins in Axum.
The first emperor of the Solomonic Dynasty, which began in Tigray, was Menelik I, son of King Solomon of Israel and Queen Sheba (Saba). He is said to have taken the Ark of the Covenant, which is now kept concealed in the St. Mary Zion Church in Axum. The church is located not far from the Obelisks of Axum, which are 80-foot-tall granite and steel tombstones that date back 1,700 years.
      </p>
    </div>
    <a href="/explore"> <div class = "button">Back</div></a>
     <%- include("./partials/footer.ejs")%>
   </div>
  </body>

</html>

