<!DOCTYPE html>
<html lang="en">
 <h1 class="heading">EthnoEthiopia</h1>
  <%- include("./partials/head.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <body>
    <div class = "all">
    <div class="topography">
      <p>
        <h3>Topography</h3>
        Located around 300 kilometres (190 miles) south of Addis Ababa, Wolayta is one of the 16 Zonal Administrations in the Southern Region of Ethiopia. Wolayta is bordered by the Tambaro River to the north and west, the Bilate River to the east, which separates it from Arsi-Oromo, Lake Abaya and Kucha to the south, and the Omo River to the west. The third-largest hydroelectric power project in Africa, Gilgel Gibe III Dam is situated on the Omo River and has a capacity of 1870 megawatts.There are just two regions in the local perspective: the lowlands Garaa and the highlands Gezziya. There are few rivers and streams in the hills. Around Lake Abaya are several thermal hot springs that release steam and boiling water.</p>
      </p>
    </div>
    <div class="history">
      <p>
        <h3>Early history</h3>
        Wolayta people are renowned for having had over fifty monarchs in three dynasties. The Wolaita monarchs were called Kawo. The Wolayta people are proud to have ruled over separate and sovereign kingdoms from the thirteenth century. One of the deadliest conflicts of Menelik's whole time of expansion was the war of resistance spearheaded by the last Kawo of Wolaita, which culminated to the integration of the Wolaita Kingdom and other Southern nations into the Ethiopian Empire. The Wolaita's military organization's power was demonstrated by their military opposition and rejection of Menelik's generals. In 1894, Ethiopia triumphed over the Wolaita people during the most bloody conflict, which Emperor Menelik personally commanded.</p>
    </div>
    <div class="religion">
      <p>
        <h3>Religion</h3>
        Oral tradition and documented sources agree that the three basic components of the Wolaitta idea of religion have varying statuses. Ŗossa, Ayyana and Mala were among them. Ţossa, the Wolaita's supreme being, is comparable to the Christian God or the Muslim Allah. Oral tradition and documented sources agree that the three basic components of the Wolaitta idea of religion have varying statuses. Ŗossa, Ayyana and Mala among them. Ţossa, the Wolaita's supreme being, is comparable to the Christian Almighty God or the Muslim Allah.</p>
    </div>
    <a href="/explore"> <div class = "button">Back</div></a>
     <%- include("./partials/footer.ejs")%>
    </div>
  </body>

</html>
